// #Weather {
//   color: white;
//   font-size: 1.5rem;
//   #Home_Overview {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     border: 2px solid lightblue;
//     border-radius: 0.5rem;
//     box-shadow: 0 0 5px #ffffff;
//     margin: 1rem;
//     .row {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-around;
//       width: 95%;
//       padding: 0.5rem;

//       img {
//         width: 60px;
//         height: 60px;
//         margin: 0.5rem;
//       }
//     }
//   }

//   #Home_Details {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     border: 2px solid lightblue;
//     border-radius: 0.5rem;
//     box-shadow: 0 0 5px #ffffff;
//     margin: 1rem;
//     .row {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-around;
//       width: 95%;
//       padding: 0.5rem;

//       img {
//         width: 40px;
//         height: 40px;
//         margin: 0.5rem;
//       }
//     }
//   }
// }

#Weather {
  text-align: center;
  color: white;

  #Home_Overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;

    h2 {
      font-size: 3rem;
      margin: 0.5rem 0;
    }

    #condition {
      font-size: 2rem;
      text-transform: capitalize;
      margin-bottom: 1.5rem;
    }

    #temp {
      font-size: 5rem;
      font-weight: 700;
      margin-top: 0;
    }

    #condition-icon {
      width: 12rem;
      margin-bottom: 1rem;
    }
  }

  #Home_Details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 0;

    .detail {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
