@import "/src/main.scss";

#Home {
  height: 100vh;
  width: 100%;

  #Home_Header {
    @include flex(column, flex-start, center);
    h2 {
      color: red;
    }
  }

  #Home_Projects {
    @include flex(column, center, center);
    button {
      @include button();
      width: 150px;
      height: 40px;
    }
  }
}
