@import "/src/main.scss";

#Navbar {
  @include flex(column, space-around, center);
  width: 100%;
  padding-bottom: 1rem;
  .Header {
    @include flex(row, center, center);
    width: 90%;
    height: 50px;
    padding: 1rem;
    h1 {
      color: lightblue;
      font-size: 2.5rem;
      margin-right: auto;
      padding: 1rem;
    }
    button {
      @include button();
    }
  }
}
