@import "/src/main.scss";

#Crypto {
  @include radial-gradient-dark($start-color, $end-color);
  height: 100vh;
  width: 100%;
  @include flex(column, flex-start, center);
}

button {
  @include button();
}
.coin {
  color: white;
  font-size: 1.5rem;
  border: 2px solid lightblue;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #ffffff;
  margin: 1rem;
  width: 60%;
  //@include flex(row, flex-start, center);

  .coin-left {
    @include flex(row, space-between, center);
    width: 95%;
    padding: 0.5rem;
    .coin-price {
      color: lightblue;
      font-size: 1.5rem;
      margin: auto 0;
    }
    img {
      width: 40px;
      height: 40px;
      margin: 0.5rem;
    }
  }
  .coin-right {
    @include flex(column, flex-start, flex-end);
    width: 100%;
    padding: 0.5rem;
    .coin-price {
      color: lightblue;
      font-size: 2rem;
    }
  }
  .coin-details {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    padding: 0.5rem;
    .coin-price {
      color: lightblue;
      font-size: 1.5rem;
      margin: auto 0;
    }
  }
}
